@model IEnumerable<e_Movies_Platform.Models.Movie>

@{
    ViewData["Title"] = "Index";
}


<div class="w-50 offset-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Movies</h1>
        @if (User.IsInRole("Administrator"))
        {
            <p class="m-0">
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </p>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoverImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPG)
                    </td>
                    <td>
                        @item.Genre?.GenreName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <td>
                            <div class="d-flex align-items-center gap-2 justify-content-end">
                                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>

                        </td>

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
